body {
  /*font-family: 'OpenSansRegular', Arial, sans-serif;*/
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  margin:0;
  padding:0;
  background-color: #ecf0f1;
}
a:visited {
    color: #2980b9;
}
a:hover {
    color: #e74c3c;
}
a:link {
    color: #2980b9;
}
#board {
	float: left;
	width: 130px;
	height: 90px;
	background-color: #f3d527;
	margin-top: 30px;
	/*line-height: 0.5;*/
	padding: 18px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    top: expression(document.getElementsByTagName("body")[0].scrollTop + "px"
);
	/*font-family: 'OpenSansSemibold', Arial, sans-serif;*/
}
#wrapper {
  overflow: hidden;
  width: 900px;
  margin: 0 auto;
}
#content {
	float: right;
	width: 690px;
	padding: 30px;
}
.boardtext {
    font-size:18px;
    color: #ffffff;
}
#tablepic {
	width: 690px;
	height: 220px;
	margin-bottom: 20px;
    background-image: url(table.jpg);
}
#evolution {
	background-color: #E3E3E3;
	width: 650px;
	height: 150px;
	padding: 20px;
	margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.test {
	padding: 20px;
	float: left;
	width:650px;
	color: #000000;
    background-color: #ffffff;
    margin-bottom: 15px;
}
.highlight {
	background-color: #ffffff;
	padding: 20px;
	float: left;
	width:650px;
	color: #000000;
    margin-bottom: 15px;
}
.picture {
	float: left;
	margin-right: 40px;
}
#test {
	margin-top: 20px;
	font-size: 12px;
}
.questionList {
	float: left;
	width: 330px;

}
.cheks {
	margin-right: 20px;
	float: left;
	font-size: 15px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
	/*font-family: 'OpenSansRegular', Arial, sans-serif;*/
}
.onequestion {
	margin-bottom: 30px;
	font-size: 18px;
    font-weight: 300 !important;
    font-family: 'Open Sans', Arial, sans-serif;
}
.pressenter {
	font-size: 10px;
}
.right {
	color: #298A08;
	font-size: 15px;
}
.wrong {
	color: #DF0101;
	font-size: 15px;
}
.evopic {
	height: 100px;
	float: left;
	margin-right: 10px;
    margin-top: 7px;
    font-size: 10px;
}
.information {
    background-color: #f3d527;
    padding: 20px;
    float: left;
    margin: -20px -20px 20px -20px;
    width: 650px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pngtest.png', sizingMethod='crop');
}
img {
    border: 0;
}
a {
    border: 0;
}
#ie {
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
}
.year {
    float: left;
}
#leftbar {
    float: left;
    position: fixed;
    width: 130px;
}
#alertie {
    background-color: #DF0101;
    color: #ffffff;
    font-size: 50px;
    width: 100%;
    padding: 30px;
}
#lang {
    font-size: 13px;
    float: left;
    width: 130px;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    color: #7f8c8d;
}
#tablelink {
    font-size: 13px;
    float: left;
    width: 130px;
    margin-top: 10px;
    padding: 10px;
    /*line-height: 0.5;*/
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    top: expression(document.getElementsByTagName("body")[0].scrollTop + "px";
}